"*":
  core:
    disabledPackages: [
      "refactoring-ruby"
    ]
    packagesWithKeymapsDisabled: [
      "refactor"
    ]
    telemetryConsent: "no"
  "exception-reporting":
    userId: "cbd79b6a-ee49-41b6-935a-21a6d1aca1b0"
  linter: {}
  "linter-rubocop":
    command: "/Users/ben/.rvm/gems/ruby-2.2.4/bin/rubocop"
  "linter-ui-default":
    panelHeight: 131
    showDecorations: false
    showPanel: true
  "platformio-ide-terminal":
    core: {}
  welcome:
    showOnStartup: false
